.square{
    width: 400px;
    height: 300px;
    background-color: brown;
    margin: 100px;
    background-position: center;
}

.square .child{
    color: aliceblue;
    text-align: center;
    font-size: 70px;
    position: relative;
    bottom: -100px;
}

.square:hover{
    background-color: #f93306;  
    transform: scale(1.5); 
}