.square{
    width: 300px;
    height: 200px;
    background-color: deeppink;
}

.square:hover{
    transform: rotate(-50deg);
}

.child{
    font-size: 50px;
    color: rgb(26, 49, 72);
    text-align: center;
    position: relative;
    top: 60px;
}