.square{
    width: 500px;
    height: 300px;
    background-color: navy;
    transition: all 0.5s;
}

.child{
    font-size: 40px;
    color: chocolate;
    text-align: center;
    position: relative;
    top: 120px;
}

.square:hover{
    border-radius: 100%;
}